<div class="admin animated fadeIn" ng-controller="adminCtrl as admin">




<div class="container">

	<div class="col-md-6">

		<form id="newCarForm" name="newCarForm">

			<div class="form-group">
			    <label>Make</label>
				<ui-select ng-model="admin.car.make" on-select="search.clearSelectedModel($item, $model)">
					<ui-select-match>
						<span ng-bind="$select.selected.displayName"></span>
					</ui-select-match>
					<ui-select-choices repeat="make in admin.makes">
						<div class="row">
							<div class="col-xs-2">
								<img ng-src="{{admin.photoRoot}}/{{make.logoUrl}}" style="height: 30px;">
							</div>
							<div class="col-xs-10">
								<div ng-bind="make.displayName" style="font-size: 1.3em; padding-top: 3px;"></div>
							</div>
						</div>
					</ui-select-choices>
				</ui-select>
			</div>
		  
			<div class="form-group">
				<label for="exampleInputPassword1">Model</label>
				<ui-select ng-model="admin.car.model">
					<ui-select-match>
						<span ng-bind="$select.selected"></span>
					</ui-select-match>
					<ui-select-choices repeat="model in admin.car.make.models">
						<div class="row">
							{{model}}
						</div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="form-group">
				<label for="">Year</label>
				<ui-select ng-model="admin.car.year">
					<ui-select-match>
						<span ng-bind="$select.selected"></span>
					</ui-select-match>
					<ui-select-choices repeat="year in admin.years">
						<div class="row">
							{{year}}
						</div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Mileage</label>
				<input type="text" class="form-control" ng-model="admin.car.mileage"></input>
			</div>				
			<div class="form-group">
				<label for="exampleInputPassword1">Price</label>
				<input type="text" class="form-control" ng-model="admin.car.price"></input>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">VIN</label>
				<input type="text" class="form-control" ng-model="admin.car.vin"></input>
			</div>	
<!-- 			<div class="form-group">
				<label for="">Photo</label>
				<input type="file" class="form-control" ng-model="admin.car.photo" multiple="true"></input>
			</div>	 -->				
	        
           <div class="btn btn-primary" ng-click="admin.addCarToInventory()"><span class="fa fa-plus"></span> Add Car to Inventory</div>
           <br>
           <br>
           <div class="btn btn-default" ng-click="admin.generateCar()"><span class="fa fa-refresh"></span> Generate a Car</div>
           <br>
           <br>
           <div class="btn btn-default" ng-click="admin.generate25Cars()"><span class="fa fa-refresh"></span> Generate 25 Cars</div>

		</form>

    </div>

    <div class="col-md-6">
		<div class="form">
			<div class="form-group">
				<label for="exampleInputPassword1">Description</label>
				<textarea class="form-control" ng-model="admin.car.description"></textarea>
			</div>	
			<div class="form-group">
				<label>Photos</label>
<!-- 				<div  nv-file-over="" uploader="admin.photoUploader" style="border: 2px dashed black; padding: 20px;">
					<div class="alert alert-info">Drop photos here</div>
				</div>
				<br>
				- OR -
				<br>
				<br> -->
				<input type="file" name="carpic" nv-file-select="" uploader="admin.photoUploader" multiple  />
			</div>				
		</div>   

					<hr>

                    <h3>Upload queue</h3>
                    <p>Queue length: {{ admin.photoUploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="admin.photoUploader.isHTML5">Size</th>
                                <th ng-show="admin.photoUploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in admin.photoUploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="admin.photoUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="admin.photoUploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
<!--                                     <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button> -->
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': admin.photoUploader.progress + '%' }"></div>
                            </div>
                        </div>
<!--                         <button type="button" class="btn btn-success btn-s" ng-click="admin.photoUploader.uploadAll()" ng-disabled="!admin.photoUploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="admin.photoUploader.cancelAll()" ng-disabled="!admin.photoUploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button> -->
                        <button type="button" class="btn btn-danger btn-s" ng-click="admin.photoUploader.clearQueue()" ng-disabled="!admin.photoUploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>



    </div>

</div>

</div>